.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  margin-top: 4vh;
}

.myAboutImage {
  margin: auto;
  max-width: 100%;
}

.AboutMeImg {
  width: 60vh;
  height: 60vh;
  border-radius: 100%;
  margin-top: 15%;
  object-fit: cover;
}

.myAboutDetails {
  color: #fff;
  width: 90vh;
  margin-top: 8vh;
}

.myAboutDetails h6 {
  font-size: 18px;
  font-weight: normal;
  line-height: 4vh;
  text-align: justify;
}

.myAboutDetails h1 {
  color: #03F6CC;
}